<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body class="background">

<main>
    <div>
    <h2>Fitness</h2>
        <form action="/login" method="post">
            <label for="sco">SCO-nummer:</label>
            <input type="text" id="sco" name="sco"><br><br>
            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="pwd"><br><br>
            <input type="submit">
        </form>
    </div>
</main>

</body>
</html>
